vllm==0.9.0
# accelerate==0.25.0
# transformers==4.36.2
cn2an==0.5.22
ffmpeg-python==0.2.0
Cython==3.0.7
g2p-en==2.1.0
jieba==0.42.1
keras==2.9.0
matplotlib==3.8.2
vocos==0.1.0
# tensorboard==2.9.1
omegaconf
sentencepiece
librosa
gradio
ninja

WeTextProcessing; platform_machine != "Darwin"
wetext; platform_system == "Darwin"